header
	.container
		.header-row
			a(href="#body", target="_blank")
				img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
			.contacts
				a.contact.contact-tg(href="https://t.me/gaberstein" target="_blank")
				a.contact.contact-yt(href="https://www.youtube.com/@yuliyagaberstein9065" target="_blank")
				a.contact.contact-inst(href="https://www.instagram.com/yuliyagaberstein/" target="_blank")
				a.contact.contact-fb(href="https://www.facebook.com/profile.php?id=100089992495774" target="_blank")
				a.contact.contact-tt(href="https://www.tiktok.com/@yuliyagaberstein3" target="_blank")
		.header-row
			ul.main-menu
				li.main-menu-item
					a(href='#how') Как я пришла в психологию
				li.main-menu-item
					a(href='#meet') Обо мне
				li.main-menu-item
					a(href='#for') Про обучение
				li.main-menu-item
					a(href='#know') Курс «Формирование судьбы»
				li.main-menu-item
					a(href='#revs') Текстовые отзывы
				li.main-menu-item
					a(href='#revs-video') Видео-отзывы
				//- li.main-menu-item.hide
				//- 	a(href='' target='_blank') Все курсы и тренинги
				//- li.main-menu-item.hide
				//- 	a(href='' target='_blank') Контакты