footer
	.container
		if dat
			a(href="#DAT").button-up Datenschutzerklärung
		a(href="#Impressum").button-up.impressum Impressum
		if oferta
			a.conditions(href=oferta download) Условия возврата денежных средств