@import 'base/1-fonts';

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/2-base';
/*! Main */
@import 'confirm/1-main'
/*! Footer */
@import 'base/4-footer';
/*! Modals */
@import 'confirm/2-modals'