#main
	// position relative
	// z-index 1000
	@media screen and (max-width 991px)
		text-align center
.content-main
	padding 155px 0 0
	background-image: url(../img/backs/main.png)
	background-repeat: no-repeat
	background-position: left 50px bottom
	@media screen and (max-width 991px)
		padding 120px 0 0
	// background-size: contain
	@media screen and (max-width 386px)
		background-image: none
		padding 90px 0 0
.pink-lines
	position absolute
	top: 0
	left 45%
	width 457px
	height: 100%
	display flex
	align-items: center
	justify-content: space-between
	z-index -1
	@media screen and (max-width 560px)
		width 280px
	@media screen and (max-width 386px)
		margin 0 auto
		left 0
		right 0
		opacity .3
.pink-line
	width 120px
	height: 100%
	@media screen and (max-width 991px)
		width 80px
	&-1
		background-color: rgba(175, 90, 217, 0.3);
	&-2
		background-color: rgba(175, 90, 217, 0.2);
	&-3
		background-color: rgba(175, 90, 217, 0.1);
.main
	&-pre-1
		color #656565
		font-size: 25px;
		line-height: 29px;
		text-transform: uppercase;
		margin 0
		@media screen and (max-width 560px)
			font-size: 20px
	p&-pre-2
		display flex
		padding 10px 15px
		background: linear-gradient(90deg, #D7EEAC 0%, rgba(215, 238, 172, 0.45) 37.66%, rgba(215, 238, 172, 0.71) 96.01%);
		border-radius: 7px;
		margin 5px 0 30px
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		text-transform: uppercase;
		color: #5E5E5E;
		justify-content: space-between
		align-items: center
		width 100%
		max-width 321px
		@media screen and (max-width 991px)
			margin 5px auto 30px
			text-align center
		@media screen and (max-width 560px)
			font-size: 16px
			justify-content: center
			max-width 290px
			margin 5px auto 20px
	&-title
		font-family: ACC
		font-size: 110px;
		line-height: 110px;
		color: #5E5E5E;
		text-transform uppercase
		@media screen and (max-width 560px)
			font-size: 70px
			line-height: 1.4
		@media screen and (max-width 386px)
			font-size: 50px
			line-height: 1.2
	&-subtitle
		font-size: 20px
		margin-top: 25px
		@media screen and (max-width 560px)
			font-size: 18px
			margin-top: 15px
	&-img
		// position relative
		// padding-top: 90%
		// img
		position relative
		top: 0
		left -155px
		margin-top: -155px
		z-index 0
		@media screen and (max-width 1199px)
			left -80px
		@media screen and (max-width 991px)
			// margin-top: 0
			left 0
			width 100%
			max-width 926px
			margin 0 auto