// #main
// 	background-image: url(../img/backs/main.png)
// 	background-repeat: no-repeat
// 	background-position: center top
// 	background-size: contain
// 	width 100%
// 	max-width 1440px
// 	margin 0 auto
// 	overflow hidden
.content-main
	padding 155px 0 0
	background-image: url(../img/backs/main.png)
	background-repeat: no-repeat
	background-position: left 50px bottom
	// background-size: contain
.pink-lines
	position absolute
	top: 0
	left 45%
	width 457px
	height: 100%
	display flex
	align-items: center
	justify-content: space-between
	z-index -1
.pink-line
	width 120px
	height: 100%
	&-1
		background-color: rgba(175, 90, 217, 0.3);
	&-2
		background-color: rgba(175, 90, 217, 0.2);
	&-3
		background-color: rgba(175, 90, 217, 0.1);
.main
	&-pre-1
		color #656565
		font-size: 25px;
		line-height: 29px;
		text-transform: uppercase;
		margin 0
	p&-pre-2
		display flex
		padding 10px 15px
		background: linear-gradient(90deg, #D7EEAC 0%, rgba(215, 238, 172, 0.45) 37.66%, rgba(215, 238, 172, 0.71) 96.01%);
		border-radius: 7px;
		margin 5px 0 30px
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		text-transform: uppercase;
		color: #5E5E5E;
		justify-content: space-between
		align-items: center
		width 100%
		max-width 321px
	&-title
		font-family: ACC
		font-size: 110px;
		line-height: 110px;
		color: #5E5E5E;
		text-transform uppercase
	&-subtitle
		font-size: 20px
		margin-top: 25px
	&-img
		// position relative
		// padding-top: 90%
		// img
		position relative
		top: 0
		left -155px
		margin-top: -155px
		z-index 0
		@media screen and (max-width 1199px)
			left -80px