#how
	padding 80px 0 150px
.how-back
	position absolute
	left -40px
	right 0
	margin 0 auto
	width 100%
	height: auto
	bottom: -120px
	z-index -1
.how-title
	font-family: ACC
	font-size: 80px;
	line-height: 80px;
	color: #5E5E5E;
	margin-bottom: 25px
.how-img
	display block
	width 100%
	// max-width 400px
	margin 43px auto 0
.how-items
	display flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
.how-item
	position relative
	padding 70px 30px 30px
	background-color: #FCF4FF;
	border-radius: 10px;
	width 100%
	max-width 400px
	margin 0 0 10%
	&-1
	&-2
		min-height 466px
	&-3
	&-4
		min-height 353px
	&-title
		position absolute
		font-family: ACC
		font-size: 100px;
		line-height: 100px;
		color: rgba(136, 64, 171, 0.21);
		top 30px
		right 30px