#author
	padding 100px 0
	position relative
	z-index 10
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.general-img-author-1
	left -400px
	top -500px
	z-index -1
.general-img-author-2
	right -400px
	bottom -350px
	z-index -1
.author-img
	display block
	width 100%
	max-width 510px
	margin 0 auto 35px
.general-title-author
	text-align: left
	margin-top: 50px
	@media screen and (max-width 1199px)
		margin-top: 0