#know
	padding 90px 0
.bc-col
	width 48%
	position relative
	float: left
	.button
		margin-top: 35px
	&:last-of-type
		float: right
		.bc-img-back
			right -100px
			left auto
			top -30px
.bc-img-back
	position absolute
	top 0
	left 0
	right 0
	margin 0 auto
	display block
	z-index 0
.bc-img
	display block
	position absolute
	z-index 30
	top 60px
	bottom: 50%
	left 0