#revs
	padding 80px 0
	@media screen and (max-width 1199px)
		padding 0
// .general-img-revs
// 	z-index 30
// 	width 100%
// 	top -15%
// 	left 0
// 	right 0
// 	margin 0 auto
// 	@media screen and (max-width 991px)
// 		display none
.video-wrapper-revs
	// transform: scale(.9)
	// transform: all .3s ease
	// padding 20px
	margin-bottom: 35px
	overflow hidden
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
		height auto
// .revs-slider-text
// 	.slick-list
// 		padding-top: 10px !important
// .video-wrapper-revs-back
// .text-rev-link
// 	position relative
// 	z-index 50
// 	&:before
// 		content: ''
// 		display block
// 		width 90%
// 		height 90%
// 		background-image linear-gradient(251.12deg, #A85BCD; -7.53%, rgba(237, 141, 141, 0) 126.05%);;
// 		top 13%
// 		right 2%
// 		position absolute
// .text-rev-link
// 		&:before
// 			width 90%
// 			height 90%
// 			top 9%
// 			right 2%
// .revs-slider.slick-dotted.slick-slider
// .revs-slider-text.slick-dotted.slick-slider
// 	width 100%
// 	// max-width 1340px
// 	margin 0 auto
// 	position relative
// 	z-index 50
// 	.slick-track
// 		padding-bottom: 20px
// 	.slick-center
// 		transform scale(1.08)
// 	.slick-arrow
// 		height 46px
// 		width 100px
// 		top -30px
// 		// bottom: -90px
// 	.slick-prev
// 	.slick-next
// 		&:before
// 			width 100%
// 			height 100%
// 			border-radius: 0
// 			display block
// 			line-height: 46px
// 			background-color: transparent;
// 			text-align center
// 			color #A85BCD
// 			font-size: 60px
// 			opacity 1
// 			transition: all .3s ease
// 			// border: 1px solid #A85BCD;;
// 			font-weight: normal
// 		&:hover
// 			&:before
// 				background-color: transparent
// 				color #A85BCD;
// 		left 43%
// 		@media screen and (max-width 1199px)
// 			left 40%
// 		@media screen and (max-width 991px)
// 			left 33%
// 		@media screen and (max-width 560px)
// 			left 23%
// 	.slick-next
// 		left auto
// 		right 43%
// 		@media screen and (max-width 1199px)
// 			right 40%
// 		@media screen and (max-width 991px)
// 			right 33%
// 		@media screen and (max-width 560px)
// 			right 23%
// .revs-slider-text.slick-dotted.slick-slider
// 	margin: 50px 0 150px
// 	@media screen and (max-width 991px)
// 		margin: 40px 0 130px
// .slick-dots
// 	left 0
// 	text-align center
// 	bottom: -30px
// 	right 0
// 	margin 0 auto
// 	li
// 		width 25px
// 		height 25px
// 		border-radius: 50px
// 		border: 0
// 		transition: all .3s ease
// 		margin 0 2px
// 		overflow hidden
// 		background-color:  #A85BCD
// 		@media screen and (max-width 991px)
// 			width 12px
// 			height: 12px
// 		@media screen and (max-width 386px)
// 			width 8px
// 			height: 8px
// 		button
// 			transition: all .3s ease
// 			width 100%
// 			height 100%
// 			background-color: transparent
// 			padding 0
// 			&:before
// 				content: none
// 		&.slick-active
// 			margin: 0 5px
// 			transform: scale(1.1)
// 			button
// 				background-color: #7C2CA3;
.text-rev-img
	position relative
	// z-index 30
	width 100%
	max-width 560px
	display block
	margin 0 auto 30px
	background: #BCE2E6;
	object-fit: contain
	object-position: center
	height 350px
	border-radius: 5px
	@media screen and (max-width 991px)
		height: auto
#revs-video
	padding: 80px 0 100px
	@media screen and (max-width 560px)
		padding 80px 0
	@media screen and (max-width 386px)
		padding 60px 0

// .text-rev-link
// 	padding 20px
// .video-revs-arrows-1
// .video-revs-arrows-2
// 	position absolute
// 	width 110px
// 	top 100px
// 	left 0
// 	right 0
// 	margin 0 auto
// 	z-index 100
// 	@media screen and (max-width 560px)
// 		top 90px
// 	@media screen and (max-width 386px)
// 		top 80px
// .slick-next, .slick-prev
// 	width 160px
// 	height 60px
// .slick-next:before
// .slick-prev:before
// 	color: #A85BCD;
// 	font-size: 60px
// 	font-weight: normal
// 	transition: all .3s ease
// 	opacity 1
// .slick-next:hover:before
// .slick-prev:hover:before
// 	color: #A85BCD + 20%
// .slick-slide
// .slick-center
// 	transition: all .3s ease