footer
	padding 20px 0
	text-align: center
	background-color: rgba(#eee,.7)
	font-size: 14px
	@media screen and (max-width 560px)
		padding: 15px 0
	h5
		font-size: 20px;
		margin 0
	p
		line-height: 1.3
	a
		display inline-block
		margin 0 5px
		&:focus
			color: #000
		&:hover
			color #000
			text-decoration underline
		// &.impressum
		// 	// padding-left: 25px
		// 	// background-image: url(../img/icons/imp.png)
		// 	background-repeat: no-repeat
		// 	background-position: center left
		// 	background-size contain
.conditions
	color #000
	text-decoration: underline
	&:focus
		color #000
		text-decoration: underline
	&:hover
		color: #000
		text-decoration: none