section#main
	.container
		include ../base/1-header
		.content
			.row
				.col-md-5
					p.main-pre M.Sc. Psychologin
						span (Магистр психологии)
					h1.main-title Юлия Габерштейн
					h2.main-subtitle Я знаю, что не&nbsp;бывает безвыходных ситуаций, и что даже судьбу можно изменить, если взять дело в&nbsp;свои руки. Расскажу как…
				.col-md-7
					+imgs('main-img', 'img/images/yuliya-main.png', 'Юлия Габерштейн')