section#main
	.container
		.content.content-main
			.pink-lines
				.pink-line.pink-line-1
				.pink-line.pink-line-2
				.pink-line.pink-line-3
			.row
				.col-md-5
					.content
						p.main-pre-1 M.Sc. Psychologin
						p.main-pre-2
							+imgs('main-pre-2-img', 'img/icons/pre.png', 'Шапка') 
							| (Магистр психологии)
						h1.main-title Юлия Габерштейн
						h2.main-subtitle Я знаю, что не&nbsp;бывает безвыходных ситуаций, и что даже судьбу можно изменить, если взять дело в&nbsp;свои руки. Расскажу как…
				.col-md-7
					//- .main-img
					+imgs('main-img', 'img/images/yuliya-main.png', 'Юлия Габерштейн')