section#video
	.container
		.row
			.col-md-6
				.video-wrapper.video-wrapper-video(data-youtube='Mj9Cz_LrVss' data-img=path+"img/images/video.jpg")
					img(src=path+"img/images/video.jpg", alt="Видео")
					.play-button.play-button-rev
			.col-md-6
				ul.video-list
					li За 2&nbsp;года увеличила личный доход более чем в&nbsp;3&nbsp;раза. Обучаю, как это сделать легко.
					li Помогаю людям вернуть веру в&nbsp;себя! 
					li Более 10&nbsp;лет опыта 
					li Более 15&nbsp;000 клиентов из&nbsp;50&nbsp;стран мира!