mixin ki(n, p)
	.col-md-6
		.how-item(class='how-item-'+n)
			h4.how-item-title=n
			p!=p

section#how
	.container
		.content
			+imgs('how-back', 'img/backs/how.png', 'Цветок')
			.row
				.col-md-4.col-md-push-8
					h3.how-title Как я пришла в психологию
					p В&nbsp;психологию я пришла не&nbsp;просто так. У меня было сложное детство. Отец-алкоголик, мама очень его любила и никогда даже мысли не&nbsp;допускала о&nbsp;том, чтобы от&nbsp;него уйти. Мы с&nbsp;сестренкой часто жили у&nbsp;бабушки с&nbsp;дедушкой. Я их очень любила. Позже, отец бросил пить и пытался наладить отношения.
					+imgs('how-img', 'img/images/how.png', 'Как я пришла в&nbsp;психологию')
				.col-md-8.col-md-pull-4
					.row
						+ki('1', 'Но внутри меня было очень много боли, обиды и злости на&nbsp;него, на&nbsp;маму, вообще на&nbsp;всех.<br>У меня было только одно желание, создать свою семью и стать для своих детей лучшей мамой на&nbsp;свете. Тогда я еще не&nbsp;знала, что одного моего желания может быть недостаточно. Когда мне было 15 лет, я познакомилась со&nbsp;своим будущим мужем.')
						+ki('2', 'В мои 16&nbsp;лет, мы начали встречаться. В&nbsp;17&nbsp;лет, я вышла за&nbsp;него замуж. С&nbsp;мужем мне очень повезло, он оказался мудрым и заботливым человеком.<br>Поддерживает меня и помогает, если это мне необходимо.<br>Именно муж научил меня доверять людям и этому миру, разбираться в&nbsp;людях. Он поддержал меня, когда я&nbsp;пошла учиться на&nbsp;психолога. Сейчас у&nbsp;нас трое замечательных детей.')
					.row
						+ki('3', 'Я продолжаю идти к&nbsp;своим мечтам и делюсь своим опытом с&nbsp;другими людьми.<br>Я приняла своих родителей. Поняла как, строить свою жизнь, даже если в&nbsp;родительской семье, этому не&nbsp;научили. Я знаю, как пользоваться ресурсами рода и менять свою жизнь к лучшему.')
						+ki('4', 'Сейчас у&nbsp;меня большой дом, хорошая машина, я занимаюсь любимым делом, и мои дети рядом со&nbsp;мной.<br>Как это работает и как вам сделать свою жизнь лучше, я обучаю на&nbsp;своих курсах и конечно в&nbsp;личной терапии.')