section#if
	.container
		.content
			+imgs('general-img general-img-if-1', 'img/backs/ellipse.png', 'Эллипс')
			+imgs('general-img general-img-if-2', 'img/backs/ellipse.png', 'Эллипс')
			+gt('', 'ЕСЛИ ТЕБЕ ОЧЕНЬ ЗНАКОМЫ ТАКИЕ СИТУАЦИИ, КАК:')
			.if-items
				.if-item.if-item-1
					+imgs('if-item-img if-item-img-1', 'img/images/if-1.png', 'Больше не хочу и не могу вести себя, как моя мама / мои родители, а как по другому не знаю / не умею.')
					p.if-item-text
						span Больше не хочу и не могу 
						| вести себя, как моя мама / мои родители, а как по другому не знаю / не умею.
				.if-item.if-item-2
					+imgs('if-item-img if-item-img-2', 'img/images/if-2.png', 'Хочу воспитать своих детей так, чтобы не навредить их психике и, в тоже время, не слишком опекая. Стремлюсь соблюдать баланс в воспитании.')
					p.if-item-text Хочу воспитать своих детей так, 
						span чтобы не навредить их психике
						|  и, в тоже время, не слишком опекая. Стремлюсь соблюдать баланс в воспитании.
				.if-item.if-item-3
					+imgs('if-item-img if-item-img-3', 'img/images/if-3.png', 'Мы с мужем видим воспитание детей по разному. Как разобраться, кто из нас прав?')
					p.if-item-text Мы с мужем видим 
						span воспитание детей по разному
						| . Как разобраться, кто из нас прав?
			.if-items
				.if-item.if-item-4
					+imgs('if-item-img if-item-img-4', 'img/images/if-4.png', 'Свекровь постоянно вмешивается в воспитание наших детей. Я хочу воспитывать детей по другому, но боюсь что-то сделать не правильно и этим навредить ребенку.')
					p.if-item-text
						span  Свекровь постоянно вмешивается
						|  в воспитание наших детей. Я хочу воспитывать детей по другому, но боюсь что-то сделать не правильно и этим навредить ребенку.
				.if-item.if-item-5
					+imgs('if-item-img if-item-img-5', 'img/images/if-5.png', 'Мечтаю уже повзрослеть, наконец-то, и вырваться из навязанных родителями взглядов, шаблонов и установок, чтобы нарабатывать собственные ресурсы для своей жизни, наиболее подходящие сегодня.')
					p.if-item-text Мечтаю уже повзрослеть, наконец-то, и 
						span вырваться из навязанных родителями взглядов
						| , шаблонов и установок, чтобы нарабатывать собственные ресурсы для своей жизни, наиболее подходящие сегодня.
			+gt('general-title-if', 'ТО ЭТОТ КУРС ТОЧНО ДЛЯ ТЕБЯ!')
			+b('button-wrapper-center','button-up', href, 'ДА, ЭТО ДЛЯ МЕНЯ!!')