mixin mi(n, p)
	.meet-item
		h4.meet-item-title=n
		p!=p

section#meet
	.container
		+gt('', 'Итак, давайте знакомиться официально:')
		.blue-container
			.row
				.col-md-5
					+mi('1', '<span>Я - практикующий психолог</span>, семейный системный терапевт, коуч и наставник.')
					+mi('2', 'Кроме этого, <span>я являюсь Магистром психологии</span>, НЛП-Коучем, автором и ведущей курсов по&nbsp;психологии.')
					+mi('3', 'Более 10 лет я занимаюсь психологической практикой нетолько в&nbsp;России, но и в&nbsp;Германии. <span>У меня более 5000 довольных клиентов</span>. Множество положительных отзывов.')
					+mi('4', 'А еще я - молодая, красивая, мудрая женщина 45 лет. <span>Мама троих прекрасных детей</span>. Замужем 28&nbsp;лет. Уже более 20&nbsp;лет живу в&nbsp;Германии.')
					+mi('5', '<span>Моя миссия</span> - показать вам, что жизнь может быть счастливой, отношения - гармоничными, а&nbsp;вы - спокойны и уверенны в&nbsp;себе.')
				.col-md-5.col-md-offset-2
					.meet-img
						+imgs('', 'img/images/meet.png', 'Картинка блока')