section#for
	.container
		+gt('', 'Любое мое обучение подходит тем, кто:')
		.row
			.col-md-6
				.for-item
					ul.for-item-list
						li Устал от постоянных проблем; 
						li Не умеет отстаивать личные границы, хочет наладить отношения с детьми, прожить свою собственную счастливую жизнь; 
						li Не знает как выйти из негативного жизненного сценария.
					+imgs('for-item-img', 'img/images/for-1.png', 'Девочка 1')
			.col-md-6
				.for-item
					ul.for-item-list
						li Желает разобраться в своей жизни и изменить её; 
						li Хочет помочь своему ребенку изменить в лучшую сторону, или только планирует стать родителем;
						li А может интересуется психологией или уже является практикующим психологом.
					+imgs('for-item-img', 'img/images/for-2.png', 'Девочка 2')
		.formats
			h4.formats-title Обучение может быть
			p.format-text В зависимости от конкретного курса или запроса
			.format-item
				+imgs('format-item-icon', 'img/icons/for-1.png')
				p.format-text индивидуальным
			.format-item
				+imgs('format-item-icon', 'img/icons/for-2.png')
				p.format-text групповым
			.format-item
				+imgs('format-item-icon', 'img/icons/for-3.png')
				p.format-text онлайн-формат
			.format-item
				+imgs('format-item-icon', 'img/icons/for-4.png')
				p.format-text очное-обучение
			.format-item
				+imgs('format-item-icon', 'img/icons/for-5.png')
				p.format-text оффлайн