section#for
	.container
		+gt('', 'Любое мое обучение подходит тем, кто:')
		.row
			.col-md-6
				.for-item
					ul.for-item-list
						li
							span Устал от постоянных проблем; 
						li
							span Не умеет отстаивать
							| личные границы, хочет наладить отношения с детьми, прожить свою собственную счастливую жизнь; 
						li
							span Не знает как выйти
							|  из негативного жизненного сценария.
					+imgs('for-item-img', 'img/images/for-1.png', 'Девочка 1')
			.col-md-6
				.for-item
					ul.for-item-list
						li
							span Желает разобраться
							|  в своей жизни и изменить её; 
						li
							span Хочет помочь своему 
							| ребенку изменить в лучшую сторону, или только планирует стать родителем;
						li А может 
							span интересуется психологией
							|  или уже является практикующим психологом.
					+imgs('for-item-img', 'img/images/for-2.png', 'Девочка 2')
		.formats
			.format
				h4.formats-title Обучение может быть
			.format
				p.format-text В&nbsp;зависимости от&nbsp;конкретного курса или запроса
				.format-item
					+imgs('format-item-icon', 'img/icons/for-1.png')
					p.format-item-text индивидуальным
			.format
				.format-item
					+imgs('format-item-icon', 'img/icons/for-2.png')
					p.format-item-text групповым
				.format-item
					+imgs('format-item-icon', 'img/icons/for-4.png')
					p.format-item-text очное-обучение
			.format
				.format-item
					+imgs('format-item-icon', 'img/icons/for-3.png')
					p.format-item-text онлайн-формат
				.format-item
					+imgs('format-item-icon', 'img/icons/for-5.png')
					p.format-item-text оффлайн