mixin gi(n, span, p)
	.get-item(class="get-item-"+n)
		p.get-item-text
			if span
				span=span
			!=p
		+imgs('get-item-img get-item-img-'+ n, 'img/images/get-'+ n + '.png', p)

section#get
	.container
		+gt('', 'Благодаря курсу, ты:')
		.get-items-container
			.get-items.get-items-1
				+gi('1', 'Узнаешь, как формируется твой жизненный сценарий, как разговаривать с детьми:', 'что нельзя запрещать, что нужно запретить, что разрешить, а что - нет.')
				+gi('2', 'Научишься понимать себя и других людей, принимать решения', 'устанавливать личные границы и говорить «нет», не испытывая при этом чувства вины.')
			.get-items.get-items-2
				+gi('3', '', 'Начнешь действовать, проживать свою собственную интересную и счастливую жизнь, не оглядываясь на прошлое.')
			.get-items.get-items-3
				+gi('4', '', 'Сможешь взять на себя ответственность за свою собственную жизнь, выстроить правильную коммуникацию со своим окружением, изменить свой жизненный сценарий.')
		+b('button-wrapper-center button-get', 'button-up', href, 'МНЕ ЭТО ИНТЕРЕСНО')