section#author
	.container
		.content
			+imgs('general-img general-img-author-1', 'img/backs/ellipse.png', 'Эллипс')
			+imgs('general-img general-img-author-2', 'img/backs/ellipse.png', 'Эллипс')
			.row
				.col-md-6.col-md-push-6
					+imgs('author-img', 'img/images/yliya.png', 'Юлия Габерштейн')
				.col-md-6.col-md-pull-6
					+gt('general-title-author', 'Юлия Габерштейн')
					ul.general-list
						li Дипломированный психолог
						li НЛП-коуч
						li Гипнолог
						li Арт-терапевт/ нейрографика
						li Спикер и ведущая авторских курсов
						li МАК-терапевт
						li Сертифицированный системный расстановщик и системный терапевт