section#know
	.container
		.blue-container
			.bc-left
				+imgs('bc-img-back', 'img/backs/know-1.png', 'Шары')
				h4.bc-title Если вам интересно более тесно познакомиться со&nbsp;мной
				p.bc-text Как с&nbsp;психологом, тренером и коучем, то начать это знакомство вы можете с&nbsp;совершенно бесплатного курса «Формирование судьбы», благодаря которому вы сможете выявить пути формирования вашего жизненного сценария, чтобы выстроить новый вектор развития своей судьбы.
				+b('', '', '', 'ознакомиться с&nbsp;курсом')
			.bc-right
				+imgs('bc-img-back', 'img/backs/know-2.png', 'Колонна')
				+imgs('bc-img bc-img-right', 'img/images/know.png', 'Журнал')