section#know
	.container
		.blue-container
			.bc-col
				+imgs('bc-img-back', 'img/backs/know-1.png', 'Шары')
				.content
					+gt('general-title-left', 'Если вам интересно более тесно познакомиться со&nbsp;мной')
					p.general-text Как с&nbsp;психологом, тренером и коучем, то 
						span начать это знакомство вы можете с&nbsp;совершенно бесплатного курса «Формирование судьбы»
						| , благодаря которому вы сможете выявить пути формирования вашего жизненного сценария, чтобы выстроить новый вектор развития своей судьбы.
					+b('', '', 'https://landings.gaberstein.de/shaping-destiny/', 'ознакомиться с&nbsp;курсом', '_blank')
			.bc-col
				+imgs('bc-img-back', 'img/backs/know-2.png', 'Колонна')
				+imgs('bc-img bc-img-right', 'img/images/know.png', 'Журнал')