section#main
	.container
		.content
			+imgs('general-img general-img-main', 'img/backs/ellipse.png', 'Эллипс')
			.row
				.col-lg-8
					p.main-text Вы также можете подписаться 
						span на мой Инстаграм 
						|  или 
						span Телеграм-канал
						| , или сразу оба варианта использовать, чтобы получать полезную информацию по темам психологии здоровья, денег, отношений, воспитания, реализации в социуме и многое другое.
					h2.main-subtitle Для этого вам необходимо перейти по ссылкам под кнопками на этой странице и внутри мессенджера нажать 
						span «ПОДПИСАТЬСЯ».
					.soc-buttons
						a.button.button-main(href=" https://www.instagram.com/invites/contact/?i=wthxpyn8uq01&utm_content=3ao38pl" target='_blank') 
							span Instagram
						a.button.button-main(href="https://t.me/gaberstein" target='_blank') 
							span Telegram